{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .login-container {
        text-align: center;
        font-family: Georgia, serif;
        margin-top: 50px;
    }

    .login-box {
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        background: #efe1cf;
        border-radius: 5px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        text-align: left;
        margin: 10px 0;
    }

    .form-group label {
        display: block;
        text-align: left;
        margin-bottom: 5px;
        font-family: Georgia, serif;
    }

    .form-control {
        display: block;
        width: 100%;
        padding: 10px;
        margin: 10px 0;
    }

    .login_btn {
        background-color: #a27a55;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        display: block;
        margin: 10px auto;
    }

    .login_btn:hover {
        background-color: rgb(207, 161, 97);
        color: #ffffff;
    }

    h1{
        font-family: "Lucia Bright", serif; 
    }

    p{
        font-family: Georgia, serif;
    }


</style>

<div class="login-container">
    <div class="login-box">
        <h1>Login</h1>

        <form method="POST" action="">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" id="username" placeholder="Username" class="form-control">
            </div>

            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password" id="password" placeholder="Password" class="form-control">
            </div>

            <div class="form-group">
                <input class="btn login_btn" type="submit" value="Login">
            </div>
        </form>

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <p>Don't have an account yet? <a href="{% url 'main:register' %}">Register Now</a></p>
    </div>
</div>

{% endblock content %}
